# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# General

*.swo

*.pub-cache/
*.pub/
build/
.packages
.fvm/
*.lock
.vscode/
*.code-workspace

# Android
android/.gradle/
android/local.properties
android/**/gradle-app.setting
android/gradlew
android/gradlew.bat
android/**/Build/
android/**/build/
android/**/.cxx/
android/app/release/
android/app/debug/
android/app/profile/

# iOS
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/**/.symlinks/
ios/**/Pods/
ios/**/build/
ios/**/DerivedData/
ios/**/Generated.xcconfig
ios/**/Flutter/App.framework/
ios/**/Flutter/Flutter.framework/
ios/**/Flutter/Flutter.podspec
ios/**/Flutter/GeneratedPluginRegistrant.*

# macOS
macos/.symlinks/
macos/Flutter/Flutter.podspec
macos/Pods/
macos/**/.symlinks/
macos/**/Pods/
macos/**/build/
macos/**/DerivedData/
macos/**/Generated.xcconfig
macos/**/Flutter/App.framework/
macos/**/Flutter/Flutter.framework/
macos/**/Flutter/Flutter.podspec
macos/**/Flutter/GeneratedPluginRegistrant.*

# Windows
windows/.vs/
windows/**/build/
windows/**/Debug/
windows/**/Release/
windows/**/x64/
windows/**/x86/
windows/**/CMakeSettings.json
windows/**/CMakeCache.txt
windows/**/CMakeFiles/
windows/**/flutter/Flutter.dll
windows/**/flutter/Flutter.lib
windows/**/flutter/Flutter.exp
windows/**/flutter/Flutter.pdb

# Build Runner
*.g.dart
*.freezed.dart
*.gr.dart
*.inject.summary
*.inject.dart
*.reflectable.dart

# Coverage
coverage/
lcov.info

# Environment
.env
.env.local
.env.*.local

# Web
web/.last_build_id
